<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>java</param-value>
  </context-param>
  <context-param>
    <param-name>dbPass</param-name>
    <param-value>java</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>AddEmployee</display-name>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>com.model.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletebyId</display-name>
    <servlet-name>DeletebyId</servlet-name>
    <servlet-class>com.model.DeletebyId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletebyId</servlet-name>
    <url-pattern>/DeletebyId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmp</display-name>
    <servlet-name>UpdateEmp</servlet-name>
    <servlet-class>com.model.UpdateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmp</servlet-name>
    <url-pattern>/UpdateEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Show</display-name>
    <servlet-name>Show</servlet-name>
    <servlet-class>com.model.Show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show</servlet-name>
    <url-pattern>/Show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalaryRange</display-name>
    <servlet-name>SalaryRange</servlet-name>
    <servlet-class>com.model.SalaryRange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryRange</servlet-name>
    <url-pattern>/SalaryRange</url-pattern>
  </servlet-mapping>
</web-app>